@import "normalize";
@import "compass/css3";
 
@include font-face(lucida_calligraphyitalic, 
  font-files('lu-cal-it.woff2','lu-cal-it.woff','lu-cal-it.ttf','lu-cal-it.svg'),
  'lu-cal-it.eot'
);

html * {
  max-height:99999px
}

body {
  color:#222;
  font-family:Lusitana, serif
}

.centerer {
  margin:0 auto;
  min-width:600px;
  position:relative;
  text-align:center;
  width:90%
}

@font-face {
  font-family:lucida_calligraphyitalic;
  font-style:normal;
  font-weight:400;
}

#header {
  background:#e0dbcf;
  box-shadow:5px 5px 10px #aaa;
  height:140px;
  margin-bottom:10px;
  overflow:hidden;
  position:relative;
  text-align:center;
  width:100%
}

#header img {
  display:none;
  float:right
}

#header h1,#header h2 {
  color:#600;
  font-family:lucida_calligraphyitalic, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  left:40px;
  margin:0;
  padding:0;
  position:absolute;
  text-shadow:2px 2px 2px #aaa;
  top:30px
}

#header h2 {
  font-size:15pt;
  left:380px;
  top:40px
}

#header h2 a {
  color:inherit;
  text-decoration:none
}

#header h2 .fa {
  font-size:1.2em;
  position:relative;
  top:3px
}

.fa {
  padding-right:7px
}

#header h2 a:hover {
  text-shadow:2px 2px 2px #888
}

#navigation {
  bottom:15px;
  position:absolute;
  width:100%
}

#navigation a {
  color:#600;
  float:left;
  font-size:22px;
  letter-spacing:1px;
  margin-left:45px;
  text-decoration:none;
  text-shadow:1px 1px 1px #DDD
}

#navigation a:hover {
  text-decoration:none;
  text-shadow:2px 2px 2px #888
}

.text {
  font-size:11pt;
  margin:0 15px;
  text-align:left
}

.footer {
  color:#666;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:10pt;
  line-height:20px;
  margin:0 15px;
  text-align:center
}

hr {
  border:0;
  border-bottom:1px solid rgba(255,255,255,0.3);
  border-top:1px solid rgba(0,0,0,0.1);
  height:0;
  margin:2px 0
}

.sidebar {
  font-size:14px;
  text-align:center;
  top:150px;
  width:100%
}

#fb-like-box-wrap {
  display:none
}

.sidebar-car img {
  border:none;
  box-shadow:3px 3px 3px #888;
  max-width:300px;
  width:75%
}

.sidebar-car {
  float:left;
  width:33%
}

.sidebar a:link,.sidebar a:visited {
  color:#FFF
}

.sidebar a:hover {
  color:#FFF;
  opacity:0.85;
  text-decoration:none
}

.mainhead,#secondhead,#bighead {
  color:#000;
  font-size:16px;
  font-style:normal;
  font-weight:700;
  text-align:left
}

.fb-post {
  width:580px
}

h2,h3,#bighead {
  color:#770024;
  font-size:14pt;
  font-style:italic;
  text-align:center
}

h4 {
  color:#770024;
  font-size:16px;
  font-weight:400;
  text-align:center;
  text-shadow:1px 1px 1px #DDD
}

table {
  line-height:25px
}

table td {
  padding:4px
}

.clearfix {
  clear:both
}

html,body {
  height:100%
}

#container {
  margin-bottom:-250px;
  min-height:100%;
  padding-bottom:10px
}

#container:after {
  content:"";
  display:block
}

.footer,#container:after {
  height:250px
}

.car h2 {
  margin-bottom:0
}

#galleria {
  height:550px;
  max-width:100%;
  position:relative
}

.review {
  font-style:italic
}

.footer a:link,.footer a:visited,.footer a:hover,.text a:link,.text a:visited,.text a:hover,.burgundy {
  color:#770024
}

@media (min-width:768px) {
  .centerer {
    width:768px
  }

  .text,.footer {
    width:460px
  }

  .text {
    padding:15px 0 20px
  }

  .display-xs {
    display:none
  }

  .sidebar {
    float:right;
    margin-bottom:20px;
    width:290px
  }

  .sidebar-car {
    float:none;
    width:100%
  }

  #header img,#fb-like-box-wrap {
    display:block
  }
}

@media (min-width:910px) {
  .centerer {
    width:910px
  }

  #header h2 {
    left:420px
  }

  #header h1 {
    left:50px
  }

  #navigation {
    left:15px
  }

  .text,.footer {
    width:600px
  }
}