@import "normalize";
@import "compass/css3";

/* Variables/colours */
$burgundy: #770024;

/* Fonts */
 
@include font-face(lucida_calligraphyitalic, 
  font-files('lu-cal-it.woff2','lu-cal-it.woff','lu-cal-it.ttf','lu-cal-it.svg'),
  'lu-cal-it.eot'
);

@font-face {
  font-family:lucida_calligraphyitalic;
  font-style:normal;
  font-weight:400;
}

/* Body/wrapper/generic */

html,body {
  height:100%
}

body {
  color:#222;
  font-family:Lusitana, serif
}

.centerer {
  margin:0 auto;
  position:relative;
  text-align:center;
  width:100%;
  background-color: white;
}

.clearfix {
  clear:both
}

#container {
  margin-bottom:-250px; /* Sticky footer */
  min-height:100%;
  padding-bottom:10px
}

a {
  text-decoration: none;
}

/* Header */

header {
  background:#e0dbcf;
  box-shadow:5px 5px 10px #aaa;
  width:100%;
  position: relative;
  margin-bottom: 20px
}

header #title {
  overflow:hidden;
  position:relative;
  text-align:center;
  height: 90px;
  h1 {
    font-size: 6vw
  }
}

header img {
  display:none;
  float:right
}

header h1,header h2 {
  color:#600;
  font-family:lucida_calligraphyitalic, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  left:40px;
  margin:0;
  padding:0;
  position:absolute;
  text-shadow:2px 2px 2px #aaa;
  top:30px
}

header h2 {
  display: none;
  left:380px;
  top:40px
}

.fa {
  font-size:1.2em;
  width: 1.5em;
}  

nav {
  width:100%;
  display: none;
}

nav ul {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  li {
  padding: 10px 2em;
  border-top: 1px solid darken(#e0dbcf, 10);
  }
}

#mobile-nav-toggle {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 1.5em;
  color: $burgundy;
  border: 1px solid darken(#e0dbcf, 10);
  padding: 6px 7px;
  @include border-radius(4px);
  cursor: pointer;
}

header a {
  color:#600;
  font-size:22px;
  text-decoration:none;
  text-shadow:1px 1px 1px #DDD;
  &:hover {
    text-decoration:none;
    text-shadow:2px 2px 2px #888
  }
}

/* Footer */

footer {
  color:#666;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:10pt;
  line-height:20px;
  margin:0 15px;
  text-align:center
}

footer a:link,footer a:visited,footer a:hover,main a:link,main a:visited,main a:hover,.burgundy {
  color:$burgundy
}

#container:after {
  content:"";
  display:block
}

.footer,#container:after {
  height:250px
}

/* Sidebar */

.sidebar {
  font-size:14px;
  text-align:center;
  top:150px;
  width:100%;
  display: none;
}

.sidebar-car img {
  border:none;
  box-shadow:3px 3px 3px #888;
  max-width:300px;
  width:75%
}

.sidebar-car {
  float:left;
  width:33%
}

.sidebar a:link,.sidebar a:visited {
  color:#FFF
}

.sidebar a:hover {
  color:#FFF;
  opacity:0.85;
  text-decoration:none
}


#fb-like-box-wrap {
  display:none
}

/* Main content */

main {
  font-size:11pt;
  margin:0 5%;
  text-align:left;
  .img-wrap {
    width: 100%;
    text-align: center;
    img {
      width: 90%;
      margin: 5%;
      max-width: 500px;
      box-shadow:3px 3px 3px #888;
    }
  }
}

section {
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding:3px 0
}

section h2, section h3 {
  color:#000;
  font-size:16px;
  font-style:normal;
  font-weight:700;
  text-align:left
}

.fb-post {
  width:580px
}

section h1 {
  color:$burgundy;
  font-size:14pt;
  font-style:italic;
  text-align:center
}

h4 {
  color:$burgundy;
  font-size:16px;
  font-weight:400;
  text-align:center;
  text-shadow:1px 1px 1px #DDD
}

.car h2 {
  margin-bottom:0
}

#galleria {
  height:550px;
  max-width:100%;
  position:relative;
  visibility: hidden
}

.review {
  font-style:italic
}

/* Contact form */

form > div {
  width: 100%;
  clear: left;
  text-align: left;
  > * {
    width: 100%;
    float: left;
  }
  > label, >.label {
    margin: 2% 1%;
    font-weight: bold;
  }
  label, .label {
    display: block;
  }
  .force-full-width {
    width: 100%;
  }
  .input input {
    margin: 2% 0;
  }
}

form {
  text-align: center;
  .button {
    margin: 5%;
  }
}

/* Media queries */

@media (min-width: 500px) {
  header #title h1 {
    font-size: 1.9em;
  }
  form > div {
    > * {
      width: 50%;
      margin: 2%;
    }
    > label, > .label {
      width: 28%;
      text-align: right;
    }
  }
}

@media (min-width:767px) {
  header #title {
    height:140px;
    h1 {
      font-size: 2em;
    }
  }
  nav {
    display: block !important;
    bottom:15px;
    position:absolute;
    ul {
      margin-left: 25px;
    }
    ul li {
      border: none;
      float: left;
      padding: 0 1em;
    }
    #telephone {
      position: absolute;
      float: none;
      top: 0;
      right: 0;
    }
  }
  .sidebar {
    display: block;
  }
  .visible-xs {
    display: none !important;
  }
  header h2 {
    display: block;
  }

  .centerer {
    width:768px
  }

  main,footer {
    width:460px
  }

  main {
    padding:15px 0 20px
  }

  .display-xs {
    display:none
  }

  .sidebar {
    float:right;
    margin-bottom:20px;
    width:290px
  }

  .sidebar-car {
    float:none;
    width:100%
  }

  header img,#fb-like-box-wrap {
    display:block
  }
}

@media (min-width:910px) {
  .centerer {
    width:910px
  }

  header h2 {
    left:420px
  }

  header h1 {
    left:50px
  }

  nav {
    left:15px
  }

  main,footer {
    width:600px
  }
}

@media (min-width:1080px) {
  .centerer {
    padding: 0 7%;
  }
  body {
    background-color:lighten(#e0dbcf, 12);
  }
}