// Override Bootstrap variables
@import 'bootstrap-variables';
// Core Bootstrap (from NPM) - Only take what's needed
// Core variables and mixins
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins';
// Reset and dependencies
@import 'bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/print';
// Core CSS
@import 'bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/type';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/code';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/buttons';
// Components
@import 'bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/media';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/wells';
// Utility classes
@import 'bootstrap-sass/assets/stylesheets/bootstrap/utilities';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
// Owl (version-controlled dependency)
@import 'owl.carousel';
@import 'owl.theme';

/* Variables/colours */
$btn-primary-bg: $brand-primary;
$btn-primary-border: white;
$btn-default-color: $brand-primary;
$btn-default-bg: $golden;
$btn-default-border: $brand-primary;

/* Fonts */

@font-face {
  font-family: 'lucidacalligraphyitalic';
  src: url('/fonts/lu-cal-it.eot?') format('eot'),
  url('/fonts/lu-cal-it.woff2') format('woff2'),
  url('/fonts/lu-cal-it.woff') format('woff'),
  url('/fonts/lu-cal-it.ttf') format('truetype'),
  url('/fonts/lu-cal-it.svg#Lucida') format('svg');
}

/* Body/wrapper/generic */
body {
  background-color: lighten($golden, 10);
}

.centerer {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1250px;
}

#container {
  padding-bottom: 10px;
  background-color: white;
}

#fb-like-box-wrap {
  text-align: center;
  padding: 20px;
}

a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

/* Header */

header {
  background: $golden;
  box-shadow: 5px 5px 10px #aaaaaa;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
}

header #title {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 90px;
}

header img {
  display: none;
  float: right;
}

header h1, header h2 {
  color: #660000;
  font-family: 'lucidacalligraphyitalic', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Times New Roman', Times, serif;
  left: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 2px 2px 2px #aaaaaa;
  top: 30px;
  font-weight: bold;
  @media (max-width:300px) {
    display: none;
  }
}

header h2 {
  display: none;
  left: 50%;
  top: 40px;
  font-size: 21px;
}

.fa {
  font-size: 1.2em;
  width: 1.5em;
}

nav {
  width: 100%;
  display: none;
}

nav ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 2em;
    border-top: 1px solid darken($golden, 10);
    &:hover {
      background-color: darken($golden, 10);
      cursor: pointer;
    }
  }
}

#mobile-nav-toggle {
  position: absolute;
  font-size: 1.5em;
  right: 25px;
  top: 15px;
  color: $brand-primary;
  border: 1px solid darken($golden, 10);
  padding: 6px 7px;
  border-radius: 4px;
  cursor: pointer;
  p {
    margin: 2px 0 0 0;
    display: block;
    font-size: 13px;
    text-align: center;
  }
  &:hover {
    background-color: darken($golden, 10);
    cursor: pointer;
  }
  .fa {
    float: left;
  }
}

nav a {
  color: #660000;
  text-decoration: none;
  text-shadow: 1px 1px 1px #dddddd;
  width: 100%;
  height: 100%;
  display: block;
  &:hover {
    text-decoration: none;
    color: #660000;
    text-shadow: 2px 2px 2px #888888;
  }
}

/* Reviews */
.review {
  .fa-star {
    color: $brand-primary;
  }
  h3 {
    margin: 10px 0;
  }
  img, .review-head {
    margin: 2% 6% 5% 2%;
    float: left;
  }
  img {
    height: 100px;
    border: none;
    box-shadow: 3px 3px 3px #888888;
  }
}

.owl-theme .owl-controls .owl-page span {
  background-color: darken($golden,10);
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: $golden;
  color: $brand-primary;
  opacity: 1;
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid $brand-primary;
  font-size: $font-size-base;
  width: 45%;
  margin: 10px 0 0 0;
  &:hover {
    background-color: darken($golden,10);
  }
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  margin-right: 10%;
}


/* Footer */

footer {
  color: #666666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
}

footer a:link, footer a:visited, footer a:hover, main a:link, main a:visited, main a:hover, .burgundy {
  color: $brand-primary;
}

/* Sidebar */

.sidebar {
  text-align: center;
}

.sidebar-car {
  margin-bottom: 5px;
  margin: 0 auto 10px;
  img {
    border: none;
    margin: 10px 0;
    box-shadow: 3px 3px 3px #888888;
  }
  img, a {
    width: 100%;
    @media (min-width:$screen-sm) {
      width: 85%;
    }
  }
}

#car-more-info h3 {
  margin-bottom: 1em;
}

.extra-car {
  width: 250px;
  max-width: 85%;
  text-align: center;
  margin: 0 auto 10px;
  > *, img {
    width: 90%;
  }
  img {
    margin: 10px 0;
    border: none;
    box-shadow: 3px 3px 3px #888888;
  }
}

.btn .fa {
  padding-right: 1em;
}

.btn-primary {
  margin-top: 1em;
  margin-bottom: 1em;
}

.fb-share-button, .pin {
  display: block!important;
  margin: 1.5em 0;
}

/* Main content */

main, footer {
  padding: 0 15px;
  max-width: 600px;
  margin: 0 auto;
  @media (min-width:$screen-sm) {
    max-width: 100%;
  }
}

main {
  text-align: left;
}

.row {
  /* Override Bootstrap default */
  margin: 0 auto;
}

section {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.borderless {
  border-bottom: none;
}

.no-top-padding {
  padding-top: 0;
}

main h3 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

main h1, main h2, .sidebar h2 {
  color: $brand-primary;
  text-align: center;
  font-weight: bold;
}

#call-to-action {
  .btn {
    margin: 0 0 20px;
    width: 100%;
    float: left;
    color: white;
    @media (min-width:$screen-xs) {
      width: 45%;
    }
  }
  @media (min-width:$screen-xs) {
    #first-button {
      margin-right: 10%;
    }
  }
}

#owl-example {
  margin-bottom: 20px;
}

.car-carousel .owl-item div img {
  position: relative;
  max-width: 100%;
}

.car-carousel img {
  max-height: 75vh;
}

#cars div {
  width: 100%;
  text-align: center;
  font-weight: bold;
  img {
    width: 90%;
    margin: 5%;
    max-width: 500px;
    box-shadow: 3px 3px 3px #888888;
    margin-bottom: 2%;
  }
}

/* Contact form */

form > div {
  width: 100%;
  clear: left;
  text-align: left;
  > * {
    width: 100%;
    float: left;
  }
  > label, > .label {
    margin: 2% 1%;
    font-weight: bold;
    color: inherit;
    font-size: inherit;
  }
  label, .label {
    display: block;
  }
  .force-full-width {
    width: 100%;
  }
  .input input {
    margin: 2% 0;
  }
}

form {
  text-align: center;
  margin: 2em 0 0;
  .button {
    margin: 2em;
    min-width: 30%;
  }
}

/* Cars gallery */
.car-carousel {
  text-align: center;
  margin: 30px 0;
}

/* Media queries */
@media (min-width: $screen-xs) {
  form > div {
    > * {
      width: 50%;
      margin: 2%;
    }
    > label, > .label {
      width: 28%;
      text-align: right;
    }
  }
}

@media (min-width:$screen-sm) {
  header #title {
    height: 140px;
    h1 {
      left: 40px;
      font-size: 29px;
    }
  }
  nav {
    display: block !important;
    bottom: 15px;
    position: absolute;
    ul {
      margin-left: 25px;
    }
    ul li {
      border: none;
      float: left;
      padding: 0 1em;
      &:hover {
        background-color: transparent;
      }
    }
  }
  header h2 {
    display: block;
  }

  header img {
    display: block;
  }
}

// Fix to enable Owl Carousel reviews
.col-sm-6 {
  width: 100%;
}
@media (min-width:$screen-sm) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width:$screen-md) {
  .centerer {
    width: 95%;
    padding: 0 2.5%;
  }
}

@media (min-width:$screen-lg) {
  .centerer {
    width: 90%;
    padding: 0 5%;
  }
}

// https://css-tricks.com/snippets/css/clear-fix/
.group:after {
  content: "";
  display: table;
  clear: both;
}
