<footer>
Max Hemingway<br>
01924 370485<br>
Bradford Road, Wakefield, West Yorkshire, WF12AS<br>
Email: <a href=
"mailto:max@maxweddingcars.co.uk?subject=Enquiry%20R.E.%20Chauffeur%20Driven%20Car%20Hire">max@maxweddingcars.co.uk</a><br>
Site Design &copy; 2015 Blake Hemingway<br>
<span class="footer1">Serving all areas of Yorkshire: View <a href="locations.php">Our Locations</a></span>

<div style="text-align: center">
    <br />

    <h1 style="text-align: center; font-size: 9px; color:#666; font-family: Arial, Helvetica, sans-serif;">Wedding Cars Leeds ~ Wedding Car Hire
    Leeds ~ Vintage Wedding Cars Leeds ~ Chauffeur Driven Car Hire Leeds ~ Chauffeur Driven Wedding Cars Leeds ~ Vintage Car Hire Leeds ~ Classic
    Car Hire Leeds<br>
    Wedding Limos Leeds ~ Wedding Limo Hire Leeds</h1>
</div>
</footer>
