<footer class="group">
  <hr>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    Max Hemingway<br>
    01924 370485<br>
    Bradford Road, Wakefield, West Yorkshire, WF12AS<br>
    Email: <a href=
    "mailto:max@maxweddingcars.co.uk?subject=Enquiry%20R.E.%20Chauffeur%20Driven%20Car%20Hire">max@maxweddingcars.co.uk</a><br>
    Site Design &copy; 2020 Blake Hemingway<br>
    <span class="footer1">Serving all areas of Yorkshire: View <a href="locations.php">Our Locations</a></span>
  </div>
</footer>
